[alias]
    tree = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold magenta)%h%C(reset)%C(auto)%d%C(reset) %s%C(reset) %C(dim green)(%ad)%C(reset)'

[core]
	pager = less -FRSX
	untrackedCache = true

[merge]
	conflictstyle = diff3

[user]
	name = David Munro
	email = david.munro@gmail.com
